section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 2.0rem;
  align-items: center;
}

h2 {
  margin: 8px;
}

form {
  align-items: center;
  background-color: rgb(90, 104, 208, .5);
  /* opacity: .7; */
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 40%;
}

label {
  margin: 5px;
  text-align: center;
}

input,
select {
  background-color: rgb(90, 104, 208, .8);
  border: 1.5px solid white;
  font-size: 1.5rem;
  height: 6vh;
  margin: 10px;
  opacity: unset;
  padding: 5px;
  width: 90%;
}

Link,
button {
  background: rgb(90, 104, 208, .5);
  border: none;
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;
  border-radius: 30px;
  color: #ffffff;
  font-size: 2rem;
  height: 6vh;
  width: 15vw;
}

.footer--user-info,
.footer--user-bar {
  background: #000000;
  bottom: 0;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  margin: 0;
  padding: 1%;
  position: absolute;
  width: 100vw;
}

.footer--user-bar {
  z-index: 10;
}

.footer--user-info {
  bottom: 0;
}

.p--user-info {
  margin: 0;
}

