.section--movie-list {
  align-items: right;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.ul--movie-list {
  background-color: rgb(90, 104, 208, .5);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.li--movie {
  margin: 15px;
  text-align: center;
  width: 30vw;

}