.section--character-list,
.section--movie-list {
  align-items: right;
  background-color: rgb(90, 104, 208, .5);
  color: #ffffff;
  display: flex;
  font-size: 2.25rem;
  overflow: auto;
  white-space: nowrap;
}

.ul--character-list,
.ul--movie-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.li--character,
.li--movie {
  margin: 15px;
  text-align: center;
  width: 30vw;
}